1. Found the dataset "mushroom edibility classification".

In [139]:
import pandas as pd
import numpy as np

3. Loading the dataset as dataframe using pandas

In [140]:
mushroom = pd.read_csv('/content/mushroom edibility classification dataset.csv')
print(mushroom.shape)
mushroom.head()

(3124, 20)

   Unnamed: 0      class  cap-shape  ...  spore-print-color  population habitat
0           0  poisonous        5.0  ...                  2           3       5
1           1     edible        5.0  ...                  3           2       1
2           2     edible        0.0  ...                  3           2       3
3           3  poisonous        5.0  ...                  2           3       5
4           4     edible        5.0  ...                  3           0       1

[5 rows x 20 columns]

In [141]:
#Dropping the 'Unnamed:0' column
mushroom = mushroom.drop('Unnamed: 0', axis=1)

4. Handling the missing values after checking if it's needed or not-

In [142]:
mushroom.isnull()

      class  cap-shape  cap-surface  ...  spore-print-color  population  habitat
0     False      False        False  ...              False       False    False
1     False      False        False  ...              False       False    False
2     False      False        False  ...              False       False    False
3     False      False        False  ...              False       False    False
4     False      False        False  ...              False       False    False
...     ...        ...          ...  ...                ...         ...      ...
3119  False      False        False  ...              False       False    False
3120  False      False        False  ...              False       False    False
3121  False      False        False  ...              False       False    False
3122  False      False        False  ...              False       False    False
3123  False      False        False  ...              False       False    False

[3124 rows x 19 columns]

In [143]:
mushroom.isnull().sum()

class                       0
cap-shape                   8
cap-surface                 0
cap-color                   8
bruises                     0
odor                        0
stalk-shape                 0
stalk-root                  0
stalk-surface-above-ring    0
stalk-surface-below-ring    0
stalk-color-above-ring      0
stalk-color-below-ring      0
veil-type                   0
veil-color                  0
ring-number                 0
ring-type                   0
spore-print-color           0
population                  0
habitat                     0
dtype: int64

Since only a few rows of only 'cap-shape' and 'cap-color' are null we will not drop any columns or rows in whole.

Have to handle the Null values in 'cap-shape' and 'cap-color' by Imputing them.

In [144]:
# Imputting
from sklearn.impute import SimpleImputer

impute = SimpleImputer(missing_values=np.nan, strategy='mean')

impute.fit(mushroom[['cap-shape','cap-color']])

mushroom[['cap-shape','cap-color']] = impute.transform(mushroom[['cap-shape','cap-color']])

In [145]:
# These two columns after imputting.
mushroom[['cap-shape','cap-color']].isnull().sum()

cap-shape    0
cap-color    0
dtype: int64

5. Encoding the categorical features after checking if it's needed or not-

In [146]:
mushroom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3124 entries, 0 to 3123
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     3124 non-null   object
 1   cap-shape                 3124 non-null   float64
 2   cap-surface               3124 non-null   int64
 3   cap-color                 3124 non-null   float64
 4   bruises                   3124 non-null   object
 5   odor                      3124 non-null   int64
 6   stalk-shape               3124 non-null   int64
 7   stalk-root                3124 non-null   int64
 8   stalk-surface-above-ring  3124 non-null   int64
 9   stalk-surface-below-ring  3124 non-null   int64
 10  stalk-color-above-ring    3124 non-null   int64
 11  stalk-color-below-ring    3124 non-null   int64
 12  veil-type                 3124 non-null   int64
 13  veil-color                3124 non-null   int64
 14  ring-number               3124 non-null   int64
 15  ring-type                 3124 non-null   int64
 16  spore-print-color         3124 non-null   int64
 17  population                3124 non-null   int64
 18  habitat                   3124 non-null   int64
dtypes: float64(2), int64(15), object(2)
memory usage: 463.8+ KB

In [147]:
mushroom['class'].unique()

array(['poisonous', 'edible'], dtype=object)

In [148]:
mushroom['bruises'].unique()

array(['bruises is there', 'no bruises'], dtype=object)

Since both 'class' and 'bruises' have two unique types of values each, I am going to use Binary Categorical Values Encoding.

In [149]:
from sklearn.preprocessing import LabelEncoder

# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "class" and "bruises" column
mushroom['class'] = enc.fit_transform(mushroom['class'])
mushroom['bruises'] = enc.fit_transform(mushroom['bruises'])

print(mushroom[['class']].head())
print(mushroom[['bruises']].head())

   class
0      1
1      0
2      0
3      1
4      0
   bruises
0        0
1        0
2        0
3        0
4        1

6. Scaling all the values between 0-1 with proper scaling technique

In [150]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(mushroom)
mushroom_scaled = scaler.transform(mushroom)

pd.DataFrame(mushroom_scaled, columns = list(mushroom))

      class  cap-shape  cap-surface  ...  spore-print-color  population  habitat
0       1.0        1.0     0.666667  ...                0.2         0.6      1.0
1       0.0        1.0     0.666667  ...                0.4         0.4      0.2
2       0.0        0.0     0.666667  ...                0.4         0.4      0.6
3       1.0        1.0     1.000000  ...                0.2         0.6      1.0
4       0.0        1.0     0.666667  ...                0.4         0.0      0.2
...     ...        ...          ...  ...                ...         ...      ...
3119    1.0        1.0     0.000000  ...                0.4         0.8      0.0
3120    0.0        0.4     0.000000  ...                0.2         1.0      0.0
3121    0.0        0.4     1.000000  ...                0.4         1.0      0.0
3122    1.0        1.0     0.000000  ...                0.0         1.0      0.0
3123    0.0        1.0     1.000000  ...                0.2         0.8      0.0

[3124 rows x 19 columns]

In [151]:
mushroom_scaled

array([[1.        , 1.        , 0.66666667, ..., 0.2       , 0.6       ,
        1.        ],
       [0.        , 1.        , 0.66666667, ..., 0.4       , 0.4       ,
        0.2       ],
       [0.        , 0.        , 0.66666667, ..., 0.4       , 0.4       ,
        0.6       ],
       ...,
       [0.        , 0.4       , 1.        , ..., 0.4       , 1.        ,
        0.        ],
       [1.        , 1.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 1.        , 1.        , ..., 0.2       , 0.8       ,
        0.        ]])

In [152]:
mushroom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3124 entries, 0 to 3123
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     3124 non-null   int64
 1   cap-shape                 3124 non-null   float64
 2   cap-surface               3124 non-null   int64
 3   cap-color                 3124 non-null   float64
 4   bruises                   3124 non-null   int64
 5   odor                      3124 non-null   int64
 6   stalk-shape               3124 non-null   int64
 7   stalk-root                3124 non-null   int64
 8   stalk-surface-above-ring  3124 non-null   int64
 9   stalk-surface-below-ring  3124 non-null   int64
 10  stalk-color-above-ring    3124 non-null   int64
 11  stalk-color-below-ring    3124 non-null   int64
 12  veil-type                 3124 non-null   int64
 13  veil-color                3124 non-null   int64
 14  ring-number               3124 non-null   int64
 15  ring-type                 3124 non-null   int64
 16  spore-print-color         3124 non-null   int64
 17  population                3124 non-null   int64
 18  habitat                   3124 non-null   int64
dtypes: float64(2), int64(17)
memory usage: 463.8 KB

7. Split the dataset into features and labels. Use your intuition to determine which column indicates the labels.

In [159]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
label=pd.DataFrame(mushroom_scaled[:,0])
X_train, X_test, y_train, y_test = train_test_split(mushroom_scaled[:,1:], mushroom_scaled[:,0],test_size=0.25, stratify=label, random_state=0)

knn=KNeighborsClassifier()

knn.fit(X_train, y_train)

print("Test set accuracy: {:.2f}".format(knn.score(X_test, y_test)))

Test set accuracy: 1.00